.mo_saml_local_pricing_text{
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 100 !important;
  text-align: center;

}
.mo_saml_table_layout {
	border-radius: 1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin: 0 2% 2% 0;
}

.mo_saml_container
{
	width: 60%;
	padding:25px;
	float: left;
	border-radius: 4px; !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mo_saml_table_layout_1
{
	background-color:#e0e0d8;
	width: 97%;
	padding:2%;
	overflow: hidden;
}

.mo_saml_table_layout_support_1{
	border-radius: 4px; !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	float: left;
	width: 29%;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin-bottom: 10px;
	padding:25px;
}
.mo_saml_highlight_background_note{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 90%;
}

.form-textarea{

	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-textarea { width:100% !important;}}

.form-text{
	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-text { width:100% !important;}}

.password-parent{
	width: 60% !important;
}

@media only screen and (max-width:641px) { .password-parent { width:100% !important;}}

.confirm-parent {
	width: 100%;
}

@media only screen and (max-width:641px) { .confirm-parent { width:100% !important;}}

.form-select{
	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-select { width:100% !important;}}

.mo_saml_table_layout input[type=text] {
	width: 80%;
}
.mo_saml_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}

.error_wid_login {
    background-color: #FFEBE8;
    border: 1px dashed #FF0000;
    color: #FF0000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 6px;
	  margin-left: 200px;
    width: 80%;
	  clear:both !important;
}

.login_wid li{
	margin:5px;
}

.login_wid{
		list-style-type:none;
		border: 1px dashed #999999;
		width:98%;
		float:left;
		padding:5%;
	}
.login_wid li{
	width:48%;
	float:left;
	margin:2px;
}
.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}

.mo_saml_container_3{
	width: 40%;
	padding: 33px;
	border-radius: 4px; !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: right;
}

/*************CSS for Copy icon*************/

.mo_guide_table{
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.mo_guide_table-bordered>thead>tr>th{
	border-bottom-width: 2px;
}
.mo_guide_table-bordered {
	border: 1px solid #ddd;
}

.mo_guide_table-bordered>thead>tr>th, .mo_guide_table-bordered>tbody>tr>td {
	border: 1px solid #787575;
}

.fa.fa-pull-right {
	 margin-left: .3em;
}
.fa-pull-right {
	float: right;
}
.fa-fw {
	width: 1.28571429em;
	text-align: center;
}
.fa-lg {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%;
}
.fa-lg {
	 font-size: 1.33333333em;
	 line-height: .75em;
	 vertical-align: -15%;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: normal;
	font-stretch: normal;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mo_copy {
	border: 1px solid #CCCCCC;
	padding: 8px;
	background-color: #FBFBFB;
	cursor: pointer;
}

.mo_guide_table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
}
.mo_guide_text-center {
	text-align: center;
}
.mo_guide_table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.mo_guide_text-color {
	color: #fe7e00;
}

.mo_td_values{
	font-size: 1.3em;
	font-weight: 600;
	font-family: sans-serif;
}
.selected-text, .selected-text>*{
	background: #2196f3;
	color: #ffffff;
}
.mo_saml_highlight_background_url_note{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: fit-content;
	float: left;
}

/*CSS for switch button*/

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 28px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ca2222;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 25px;
	width: 27px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2ab934;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
}

/*------ ADDED CSS ---------*/
.on
{
	display: none;
}

.on, .off
{
	color: white;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;}


/***CSS for Licensing Tab***/

.container_1{
  width: 100%;
}
#pricing-table {
  padding-top: 30px;
}
#pricing-table li{
  height: 40px;
  color: black;
  text-align: center;
  overflow: hidden;
}
.class_inline_1{
  width: 29%;
  display: inline-block;
  padding-top: 198px;
}

.class_inline{
  width: 23%;
  display: inline-block;
  vertical-align: top;
}
#pricing-table .pricing {
  margin-left: 10px;
  padding: 0;
  font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 15px;
}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #34495e;
  padding: 6px 18px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 13px;
  color: #bdc3c7;
  text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
  padding: 20px 0 40px 0;
  background: #c4baba1c;
  border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
  width: 100%;
  text-align: center;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: black;
  font-size: 15px;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}

.pricing-rate:last-of-type {
  margin-top:36px;
}

.pricing-title>span{
  font-size: 12px;
  letter-spacing: 1px;
}
p.pricing-title{
  height: 7px;
}
p.pricing-rate{
  margin-bottom: 25px;
}
.filler-class{
  height: 0px;
}
.pricing-list li:nth-of-type(2n+1) {
  background-color: rgba(23, 61, 80, 0.06);
}
.mo_saml_space{
  margin-left: 33px;
}
#edit-mo-pricing-dropdown,#edit-mo-pricing-dropdown-2,#edit-do-it-yourself-pricing,#edit-do-it-yourself-pricing-2{
  color: black;
}
